*{
 margin: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

body{
  background-color: #F8F6F4;
  font-family: 'Oswald', sans-serif;
  color: #111;
}

section {
  padding: 6rem 5% 2rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (max-width:769px) {
  section{
    padding: 8.2rem 3% 2rem;
  }
}