.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 50px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: 14px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-item i {
    font-size: 22px;
    color: #2E8A99;
}

.nav-item {
    font-size: 17px;
    color: #2E8A99;
    text-decoration: none;
    font-weight: 600;
}



.nav-item:hover {
    background-color: #C4DFDF;
}

.nav-item.active {
    background-color: #C4DFDF;
}

.nav-img {
    margin-left: 14px;
    min-width: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav-img.active {
    border: 3px solid #2E8A99;
}

.nav-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width:769px) {
    .header {
        flex-direction: column;
        padding: 15px 20px;
    }

    .logo {
        margin-right: auto;
    }

    .navbar {
        margin-top: 14px;
        width: 100%;
        justify-content: space-between;
    }

    .nav-item {
        margin-left: 0;
    }

    .nav-img {
        margin-left: 0;
    }
}


@media (max-width:760px) {
    .header {
        flex-direction: column;
        padding: 15px 16px;
    }

    .nav-item>p {
        display: none;
    }

    .nav-img {
        margin-left: 14px;
    }

    .nav-item {
        width: 52px;
        height: 35px;
    }
}